<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfzt.meeting.mapper.DeviceErrorMessageMapper">

    <resultMap id="BaseResultMap" type="com.jfzt.meeting.entity.DeviceErrorMessage">
        <id property="id" column="id" jdbcType="TINYINT"/>
        <result property="deviceId" column="device_id" jdbcType="TINYINT"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="info" column="info" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,device_id,user_id,
        info,gmt_create
    </sql>
</mapper>
