* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 中心*/
.container {
  width: 101rem;
  height: 45.9rem;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
}

.el-header {
  --el-header-padding: 0 !important;
}

/* 去除侧边栏的右边框 */
.el-menu {
  border-right: none !important;
}

/* 去除历史记录中时间线的padding */
 .el-timeline-item__wrapper {
  padding-left: 0 !important;
}

/* 改变 时间线中日期的样式 */
 .el-timeline-item__timestamp {
  display: inline;
  position: absolute;
  left: 1.125rem;
  font-size: 1.25rem !important;
}

/* 隐藏时间线的线条和节点 */
.el-timeline-item__tail,
.el-timeline-item__node {
  display: none !important;
}

/* 去除时间线子节点的下padding */
.el-timeline-item {
  padding-bottom: 0 !important;
}



a {
  text-decoration: none;
}