* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 350;
  font-style: normal;
  font-family: Noto Sans SC, serif;
}

/* 滚动条样式 不占位置 */
.my-main-scrollbar {
  /* 实际滚动条透明 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  &::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
    color: transparent;
  }

  overflow: scroll; /* 使内容可滚动 */
  
  /* 假滚动条样式  目前不起作用 *//* WebKit 滚动条拇指样式 */
  /* &::-webkit-scrollbar-thumb { 
    background-color: rgba(0,0,0,1); 
    border-radius: 6px;
  } */
}

/* 中心*/
.container {
  width: 101rem;
  height: 45.9rem;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
}

.el-header {
  --el-header-padding: 0 !important;
}

/* 去除侧边栏的右边框 */
.el-menu {
  border-right: none !important;
}

/* 去除历史记录中时间线的padding */
 .el-timeline-item__wrapper {
  padding-left: 0 !important;
}

/* 改变 时间线中日期的样式 */
 .el-timeline-item__timestamp {
  display: inline;
  position: absolute;
  left: 1.125rem;
  font-size: 1.25rem !important;
}

/* 隐藏时间线的线条和节点 */
.el-timeline-item__tail,
.el-timeline-item__node {
  display: none !important;
}

/* 去除时间线子节点的下padding */
.el-timeline-item {
  padding-bottom: 0 !important;
}



a {
  text-decoration: none;
}